
.box{
    margin: 10px;
}

.box div ul{
    font-weight: bold;
    font-size: medium;
}

.box div{
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 1rem;
}

.box div label{
    font-weight: bolder;
}

.box div ul li button{
    background:rgb(62, 62, 184);
    color: white;
    border:none;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.box div ul li{
    margin: 0.5rem 0;
}